@media screen and (max-width: 1400px) {
/* 

==== Home Section =====

*/

	.home {
		margin-top: 5rem;
		padding-top: 0;
		height: 60rem;
	}

	.home svg {
		bottom: -10rem;
	}

	.home__title {
		font-size: 4rem;
	}

	.home__link {
		margin-bottom: 2rem;
		font-size: 1.3rem;
		width: 47%;
		height: 5rem;
	}

	.home__photo {
		max-width: 40rem;
		margin: auto;
		background-size: cover;
		margin: 5rem auto;
	}
}

@media screen and (max-width: 1200px) {
/* 

==== Header Menu =====

*/
	.nav__link {
		font-size: 5rem;
	}

	.menu__link {
		font-size: 1.3rem;
	}

/* 

==== Home Section ====

*/

	.home__photo {
		max-width: 33rem;
	}

/* 

==== About Us Section ====

*/

.about-us__content {
	padding: 3rem 4rem;
}
}

@media screen and (max-width: 992px) {
	.nav__logo {
		font-size: 6rem;
		margin-right: 5rem;
	}

	.home__name {
		font-size: 2rem;
	}

	.home__title {
		font-size: 3rem;
	}

/* 

==== About Us Section ====

*/

.about-us__list-title {
	margin-top: 4rem;
}

.about-us__links-wrapper {
	width: 100%;
}
}

@media screen and (max-width: 768px) {
/* 

==== Header Section ====

*/
	.nav__logo {
		margin-right: 0;
	}

	.menu {
		display: none;
	}

	.nav__mobile-menu {
		display: block;
	}

	.nav__toggle-icon {
		display: flex;
	}

/* 

==== Home Section ====

*/

	.home {
		margin-top: 0;
		height: 90rem;
	}

	.home svg {
		/* left: -15rem; */
	}

	.home__content {
		text-align: center;
	}

	.home__name {
		font-size: 2rem;
	}

	.home__title {
		font-size: 3.2rem;
	}

	.home__links-wrapper {
		margin-left: auto;
		margin-right: auto;
	}

	.home__link {
		width: 100%;
		font-size: 1.6rem;
	}

/* 

==== About Us Section ====

*/

.about-us {
	flex-direction: column;
	align-items: center;
}

.about-us__cover {
	width: 100%;
}

.about-us__content {
	width: 100%;
	padding: 3rem 1.5rem;
}

.about-us__image {
	height: 40rem;
}
}

@media screen and (max-width: 576px) {
/* 

==== About Us Section ====

*/

.about-us__title {
	text-align: center;
}

.about-us__description {
	text-align: justify;
}

.about-us__links-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
	.about-us__link {
		width: 65%;
		margin-bottom: 2rem;
	}
}
@media screen and (max-width: 350px) {
	.home__photo {
		width: 100%;
	}
}
